<h1>Сообщения</h1>

<table>
  <tr>
    <th><%= Message.human_attribute_name(:client_id) %></th>
    <th><%= Message.human_attribute_name(:msgtext) %></th>  
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= Client.find(message.client_id).client_name %></td>
    <td><%= message.msgtext %></td>                               
    <td><%= link_to 'Показать', message %></td>
    <td><%= link_to 'Удалить', message, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новое сообщение', new_message_path %>
