<p id="notice"><%= notice %></p>

<p>
  <b>Msgtext:</b>
  <%= @message.msgtext %>
</p>

<p>
  <b>Client:</b>
  <%= @message.client_id %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
