<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Client.human_attribute_name(:firstname) %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label Client.human_attribute_name(:lastname) %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label Client.human_attribute_name(:secondname) %><br />
    <%= f.text_field :secondname %>
  </div>
  <div class="field">
    <%= f.label Client.human_attribute_name(:smsmail) %><br />
    <%= f.text_field :smsmail %>
  </div>
  <div class="field">
    <%= f.label Client.human_attribute_name(:email) %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label Client.human_attribute_name(:address) %><br />
    <%= f.text_area :address %>
  </div>
   <h2>Очистительные системы</h2>
  <% for system in System.find(:all) %>
	<div>
		<%= check_box_tag "client[system_ids][]", system.id, @client.systems.include?(system)%>
		<%= system.name%>
	</div>

  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
