<h1>Клиенты</h1>

<table>
  <tr>
    <th><%= Client.human_attribute_name(:firstname) %></th>
    <th><%= Client.human_attribute_name(:lastname) %></th>
    <th><%= Client.human_attribute_name(:secondname) %></th>
    <th><%= Client.human_attribute_name(:smsmail) %></th>
    <th><%= Client.human_attribute_name(:email) %></th>
    <th><%= Client.human_attribute_name(:address) %></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clients.each do |client| %>
  <tr>
    <td><%= client.firstname %></td>
    <td><%= client.lastname %></td>
    <td><%= client.secondname %></td>
    <td><%= client.smsmail %></td>
    <td><%= client.email %></td>
    <td><%= client.address %></td>
    <td><%= link_to 'Показать', client %></td>
    <td><%= link_to 'Редактировать', edit_client_path(client) %></td>
    <td><%= link_to 'Удалить', client, confirm: 'Вы уверены?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новый клиент', new_client_path %>
