<p id="notice"><%= notice %></p>

<p>
  <b><%= Client.human_attribute_name(:firstname) %>:</b>
  <%= @client.firstname %>
</p>

<p>
  <b><%= Client.human_attribute_name(:lastname) %>:</b>
  <%= @client.lastname %>
</p>

<p>
  <b><%= Client.human_attribute_name(:secondname) %>:</b>
  <%= @client.secondname %>
</p>

<p>
  <b><%= Client.human_attribute_name(:smsmail) %>:</b>
  <%= @client.smsmail %>
</p>

<p>
  <b><%= Client.human_attribute_name(:email) %>:</b>
  <%= @client.email %>
</p>

<p>
  <b><%= Client.human_attribute_name(:address) %>:</b>
  <%= @client.address %>
</p>
<%= render 	'systems' %>

<%= link_to 'Редактировать', edit_client_path(@client) %> |
<%= link_to 'Назад', clients_path %>
