<p id="notice"><%= notice %></p>

<p>
  <b>Имя:</b>
  <%= @client.firstname %>
</p>

<p>
  <b>Фамилия:</b>
  <%= @client.lastname %>
</p>

<p>
  <b>Отчество:</b>
  <%= @client.secondname %>
</p>

<p>
  <b>Сотовый номер:</b>
  <%= @client.smsmail %>
</p>

<p>
  <b>Электронный адрес:</b>
  <%= @client.email %>
</p>

<p>
  <b>Почтовый адрес:</b>
  <%= @client.address %>
</p>


<%= link_to 'Редактировать', edit_client_path(@client) %> |
<%= link_to 'Назад', clients_path %>
