<p id="notice"><%= notice %></p>

<p>
  <b><%= System.human_attribute_name(:name) %>:</b>
  <%= @system.name %>
</p>
<%= render 	'filters' %>

<%= link_to 'Редактировать', edit_system_path(@system) %> |
<%= link_to 'Назад', systems_path %>
