<p id="notice"><%= notice %></p>

<p>
  <b><%= Filter.human_attribute_name(:name) %>:</b>
  <%= @filter.name %>
</p>

<p>
  <b><%= Filter.human_attribute_name(:resource) %>:</b>
  <%= @filter.resource %>
</p>


<%= link_to 'Редактировать', edit_filter_path(@filter) %> |
<%= link_to 'Назад', filters_path %>
