<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @filter.name %>
</p>

<p>
  <b>Resource:</b>
  <%= @filter.resource %>
</p>


<%= link_to 'Edit', edit_filter_path(@filter) %> |
<%= link_to 'Back', filters_path %>
