<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>application.html</title>	  	
	  <%= javascript_include_tag "application" %>
<!-- Framework CSS -->
	
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>

    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %><![endif]-->
    <style type="text/css" media="screen">
      p, table, hr, .box { margin-bottom:25px; }
      .box p { margin-bottom:10px; }
    </style>

    <%= stylesheet_link_tag 'arcsin/style.css', :media => 'screen' %>

    
    <%= csrf_meta_tag %>

  </head>
  
  <body>
	<div class="container">	
		<%= render 'layouts/header'%>
		
		<div class="span-24 first">
			<%= yield %>
		</div>
		
		<%= render 'layouts/footer'%>
  	</div> 	
  </body>
</html>
